# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pp
*.asm.out.s
*.optimized

#Compiled Resource Files
initrd.img
dummy.img

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project Output
*.iso
*.bin

#IDE Settings
.c4droid
.vscode/**
.c4droid
Barebones.code-workspace


#Non-Committed Libraries
Libraries/sqlite3**
